@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

@font-face {
  font-family: 'Roboto Mono Md';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Mono Md'), url('./assets/fonts/roboto-mono-cufonfonts-webfont/RobotoMono-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), url('./assets/fonts/roboto-mono-cufonfonts-webfont/RobotoMono-Regular.woff') format('woff');
}


@font-face {
  font-family: 'Roboto Mono Lg';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono'), url('./assets/fonts/roboto-mono-cufonfonts-webfont/RobotoMono-Bold.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: #111239;
  background-size: cover;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

.root_container {
  background-image: url("./assets//images/bg_01.png");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
}

:root {
  --theme-color: #4B5373;
  --white: ;
}

.theme_container {
  padding: 0 30px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .theme_container {
    padding: 0 40px;
    width: 100%;
  }
}

@media screen and (max-width: 540px) {
  .theme_container {
    padding: 0 20px;
    width: 100%;
  }
}